*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #eef3f8;
    max-width: 720px;
    margin: 0 top;
    padding: 30px 
} 

nav {
    margin-bottom: 20px;
    background-color: rgb(129, 186, 212);
    padding: 15px;
    text-align: center;
    border-radius: 7px;
}
nav a {
    color: white;
    
}


#pp{
    display: block;
    width: 200px;
    margin: 0 auto 10px auto;
    border-radius: 10px;
    object-fit: cover;
}

h1{
    text-align: center;
    color: rgb(82, 95, 216);
    border-bottom: 3px solid;
    padding-bottom: 12px;
    margin-bottom: 10px;
}

h2{
    text-align: left;
    font-size: 25px;
    margin: auto;
    padding: 0;
    color:rgb(230, 85, 85)
}
#about{
    text-align: justify;
}

fieldset
{
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 7px;
    padding: 6px 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

legend{
    background-color: rgb(24, 124, 218);
    border: 1px solid black;
    font-size: 20px;
    color: white;
    border-radius: 7px;
    padding: 6px 24px;
    font-weight: bold;
}
#submit{
    background-color: rgb(44, 149, 235);
    border: 0px;
    padding: 10px 20px;
    color: white;
    border-radius: 7px;
    font-size: 15px;
    margin-left: 60px;
}

#reset{
    background-color: rgb(226, 23, 23);
    border: 0px;
    padding: 10px 20px;
    color: white;
    border-radius: 7px;
    font-size: 15px;
    margin-left: 20px;
}

#name{
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: 35px;
}
#email{
     background-color: aliceblue;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: 35px;
}

#comment{
     background-color: aliceblue;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    
}